h1
{
    color:green;
}

article
{
    background-position: center;
    background-repeat: repeat;
     background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/Donkey_in_Clovelly%2C_North_Devon%2C_England.jpg);
    height: 500;
    background-size: cover;
    color: teal;
    font-family: Times New Roman;
}

.blur
{

    backdrop-filter: blur(5px);
    background-color: white;
}

div p
{
    color:bisque;
}
a:hover 
{
    color:black;
}

.container
{display: flex;
flex-direction:row;
justify-content:center;
align-items: center;
}

.item
{
    flex: 1;
    align-self: center;
    background-color: beige;
    color:aquamarine;

}